.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all__btn button {
  width: 180px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.change__btn {
  margin: 0;
  padding: 0px 8px;
  border-radius: 15px;
  background-color: rgba(92, 102, 150, 0.512);
  color: white;
}

#selection {
  border: none;
  outline: none;
}

.p__relative {
  position: relative;
}
.p__absolute {
  position: absolute;
  top: 30%;
  right: 20px;
}
.section__page {
  height: 90vh;
}
